# Node modules
node_modules/
Server/node_modules/
Client/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.*

# Build folders
dist/
build/

# Vite
Client/dist/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Optional: package lock (keep if you want consistency)
package-lock.json
package.json

.env
**/node_modules/

# ESLint
.eslintcache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.png
